<!doctype html>
<html lang="en">

<head>
  
  {{>headerlinks}}

    <title>Weather App</title>
</head>

<body>

{{>navbar}}


    <!-- Main Header -->
    <div class="container-fluid main_header my-4">
        <div class="row">
            <div class="col-md-12 col-12 mx-auto">
               <div class="main_content">
                 <form class="temp_form">
                  <input type="text" id="cityname" placeholder="Enter Your City Name" autocomplete="off">
                  <input type="submit" value="search" id="submitButton" class="btn btn-info">
                 </form>
               </div>
               <div class="tempinfo text-center my-2">
                   <div class="top_layer">
                       <p id="day">Tuesday</p>
                       <p id="today_date">13 OCT</p>


                   </div>
                   <div class="main_layer">
                       <p id="city_name">Get Output Here</p>
                       <div class="middle_layer data_hide">
                           <p id="temp"><span>0</span><sub>0</sub>C</p>
                            <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                       </div>

                   </div>

               </div>

            </div>
        </div>
    </div>

  {{>footer}}

  <script src="js/main.js"></script>
  <script>
     

        const getCurrentDay = () => {

            var weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";

            let currDate = new Date();
            let days=weekday[currDate.getDay()];
            
            const day=document.getElementById('day');
            day.innerText=days;
        }
        getCurrentDay();


                // getCurrentDay();
        const getCurrentTime = () => {
            var months = [
                "Jan",
                "Feb",
                "Mar",
                "Apr",
                "May",
                "June",
                "July",
                "Aug",
                "Sep",
                "Oct",
                "Nov",
                "Dec",
            ];
            var now = new Date();
            var month = months[now.getMonth() + 1];
            var date = now.getDate();
            var year = now.getFullYear();

            let hours=now.getHours();
            let mins=now.getMinutes();

            let periods="AM";

            if(hours>11){
                periods="PM";
                if(hours>12){
                    hours-=12;
                }
            }
            if(mins<10){
                mins="0" + mins;
            }
           
            const dt=document.getElementById('today_date');
            dt.innerText=`${date} ${month}`;
        };
       getCurrentTime();

  </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>